/* Selector {
	Property: value;
} */

body {
	color: #C24D4D;
    font-family: Verdana;
    font-size: 5em;
    background-color: #C24D4D;
}

.container {
    min-height: 100vh;
    display: flex;
        justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    border-radius: 25px;
}