/* Selector {
	Property: value;
} */

body {
    margin: 0;
    height: 100%;
    color: black;
    font-family: Verdana;
    font-size: 5em;
}

.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80%
}

.containerTop {
    position: absolute;
    min-height: 10vh;
}


.containerBottom {
    position: relative;
    min-height: 1vh;
    /* width: auto;
    margin-right: auto;
    margin-left: auto; */
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .color1 {
    /* align-items: baseline; */
/* } */ 

.box {
    background-color: white;
    border-radius: 25px;
    width: 300px;
    height: 100px;
    padding: 50px;
    text-align: center;
}

.child:hover {
    cursor: pointer;
    cursor: hand;
}

.box:hover {
    background-color: rgb(223, 223, 221);
    cursor: pointer;
    cursor: hand;
  }

.regularTime {
    background-color: #C24D4D;
}

/* .wowTime {
    background: linear-gradient(214deg, rgba(230,106,106,1) 35%, rgba(255,255,255,1) 80%);
} */

.funAnime {
    animation: shakeX, flash;
    animation-iteration-count: 6;
}

.noneAnime {
    animation: zoomIn;
    animation-iteration-count: 1;
}


.snoop {
    z-index: -1;
}

.smoke {
    z-index: 1;
    width: 500px ;
    height: 450px ;
}


/* disables text select */
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
