/* Selector {
	Property: value;
} */

body {
	color: black;
    font-family: Verdana;
    font-size: 5em;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box {
    background-color: white;
    border-radius: 25px;
    width: 300px;
    height: 100px;
    padding: 50px;
    /* border: 1px solid white; */
    text-align: center;
}

.box:hover {
    background-color: rgb(223, 223, 221);
    cursor: pointer;
    cursor: hand;
  }

.regularTime {
    background-color: #C24D4D;
}

.wowTime {
    background: linear-gradient(214deg, rgba(230,106,106,1) 35%, rgba(255,255,255,1) 80%);
}

.funAnime {
    animation: swing, flash;
    animation-iteration-count: 6;
}

.noneAnime {
    animation: zoomIn;
    animation-iteration-count: 1;
}


.snoop {
    z-index: -1;
}

.smoke {
    z-index: 1;
    width: 500px ;
    height: 450px ;
}


/* .snoop {
    animation: rollIn;
    animation-iteration-count: 1;
    position: relative;
} */

/* disables text select */
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/* @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

 .snoop {  
    /* This section calls the slideInFromLeft animation we defined above */
    /* animation: 1s ease-out 0s 1 slideInFromLeft;
    }
 */ */

/* div.snoop
    {
      float:left;
      z-index:999;
      width:100px;
      height:100px;
      background:red;
      transition:width 2s;
      -webkit-transition:width 2s; /* Safari */
    /* } */
    
    /* div.snoop:hover
    {
      z-index:999;
      width:300px;
    } */ */